.search {
  margin: 0 340px;
}

.input-filter {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px auto;
}

.filter-item {
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
}

.filter-item:hover {
  opacity: 0.5;
}

.filter-item.active {
  text-decoration: underline;
}

.delete-all-button {
  color: #f4425d;
}