.search {
  margin: 0 auto;
}

.input-filter {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin: 10px auto;
}

@media  screen and (max-width: 767px) {
  .input-filter {
   gap: 5px;
   margin-left: 10px;
  }
}

.filter-item {
  cursor: pointer;
  border: none;
  background: transparent;
  color: white;
}

.filter-item:hover {
  opacity: 0.5;
}

.filter-item.active {
  text-decoration: underline;
}

.delete-all-button {
  color: #f4425d;
}