.todoList {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.title {
  text-align: center;
}

.inputForm {
  display: flex;
  flex-direction: row;
  width: 600px;
  margin: 0 auto;
  justify-content: space-between;
}

@media  screen and (max-width: 767px) {
  .inputForm {
    width: auto;
  }
}

.input {
  width: 100%;
  margin: 0 10px 0 0;
  color: #8b8b8b;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background: transparent;
  border: 1px solid #424242;
  border-radius: 8px;
  padding: 10px;
}

@media  screen and (max-width: 767px) {
  .input {
    width: auto;
  }
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 10px;
  margin: 30px auto;
  padding: 0;
}

.add-button {
  border-radius: 5px;
  background-color: #4285f4;
  margin: 0;
  border: none;
  color: white;
  cursor: pointer;
  padding: 10px;
  width: 100px;
}

.item {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: space-between;
  width: 700px;
  border: 1px solid #424242;
  border-radius: 8px;
  padding: 5px 20px;
  transition: opacity .3s linear;
}

@media  screen and (max-width: 767px) {
  .item {
    width: 300px;
  }
}

.item-disabled {
  opacity: 0.5;
}

.item-title {
}

.item-title-disabled {
  text-decoration: line-through;
}

.delete-button {
  border-radius: 5px;
  height: 40px;
  background-color: #f4425d;
  margin: 0;
  border: none;
  color: white;
  cursor: pointer;
  padding: 5px;
  width: 100px;
  margin: auto 0;
}

.delete-button:hover {
  opacity: 0.7;
}

.add-button:hover {
  opacity: 0.7;
}

.input__error {
  color: #FF004D;
  font-size: 10px;
  margin: 10px auto;
}